* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main{
    min-height: 100vh;
    background-image: url("gray.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.left-side {
  display: flex;
  flex-direction: column; 
  align-items: center;    
}

.left-side img {
  margin-bottom: 10px; 
}

.movie-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px;
  width: 100%;       
  height: auto;       
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  animation: fadeIn 0.8s ease-in-out;
  display: grid;           
  grid-template-columns: 1fr 2fr 1fr; 
  gap: 20px;
  align-items: center;
}
.movie-container img {
  height: auto;
  width: 250px;
  border-radius: 10px;
  flex-shrink: 0; 
  transition: 0.3s ease-in-out;
}
.movie-details {
  flex: 1; 
}

.movie-container h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.movie-container p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #ddd;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.watch-btn {
  background-color: #ff3d00;
  color: white;
  border-radius: 20px;
}

.watch-btn:hover {
  background-color: #ff5722;
  transform: scale(1.05);
}

.save-btn {
  background-color: #00c853;
  color: white;
  border-radius: 20px;
}

.save-btn:hover {
  background-color: #00e676;
  transform: scale(1.05);
}
#related {
  padding: 60px 10%;
  text-align: center;
}

#related-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.related-card {
  background-color: rgb(229, 202, 202);
  border-radius: 10px;
  transition: 0.3s;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 5px 15px rgba(36, 36, 36, 0.456);
}

.related-card:hover {
  transform: translateY(-15px);
}

.related-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 10px;
  border-radius: 20px;
}

.h {
  color: black;
  font-weight: bold;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 600px) {
  .movie-container {
    grid-template-columns: 1fr;  
    text-align: center;
  }
  .buttons {
    flex-direction: row;         
    justify-content: center;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .movie-container {
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
      "image details"
      "image buttons";             
  }
  .left-side { grid-area: image; }
  .movie-details { grid-area: details; }
  .buttons { grid-area: buttons; }
}
